body {

  align-items: center;
  width: 50%;
  text-align: center;
  background: rgba(255, 0, 0, 0.5);
}

.container-fluid{
  align-items: center;
}


.card {
  box-shadow: 10px 10px 8px 10px #111111;
}

h1 {
  text-shadow: 2px 2px;
  width: 50%;
}
