/* body {

  align-items: center;
  width: 50%;
  text-align: center;
  background: rgba(255, 0, 0, 0.5);
}

.container-fluid{
  align-items: center;
}


.card {
  box-shadow: 10px 10px 8px 10px #111111;
}

h1 {
  text-shadow: 2px 2px;
  width: 50%;
} */


body {
  height: auto;
  text-align: center;
}

.card{
  z-index: 2;
}
.custom-select{
  line-height: 20pt;
}

#sticky-footer {
  padding: 1px;
  flex-shrink: none;
  bottom: 0px;
  position: absolute;
  width: 100%;
}

#regions_div {
  width: 800px;
  height: 500px;
  top: 100px;
  bottom: 0px;
  align-items: center;
}

.dropdown-menu {
  overflow-y: scroll;
  max-height: 500px;
}

/* Other Classes for Page Styling */

/* body {
  background: #007bff;
  background: linear-gradient(to right, #0062E6, #33AEFF);
} */
